body {
  border: 1cm;
  border-color: black;
  background-color: rgb(171, 195, 237);
  
  
  }

  .logo-container {
    position: relative;
    height: 80px; /* set height to the height of your logo */
  }
  
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
  }
  .container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  /* border: 2px solid red; */
  font-family: arial;
  font-size: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  }
  h2 {
  text-align: center;
  }
  .container div {
  text-align: center;
  }
  input {
  width: 250px;
  padding: 5px;
  }
  button {
  width: 70px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  background-color: cornflowerblue;
  border: none;
  color: white;
  border-radius: 10px;
  }